<div class="alert alert-warning" role="alert">
<p class="alert alert-info"><%= @question %></p>
<p class="alert alert-success">-You</p>
</div>
<div class="alert alert-warning" role="alert">
<p class="alert alert-info"><%= @answer %></p>
<p class="alert alert-success">-Your Coach</p>
</div>
