<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<form class="form-inline m-3" action="answer" data-turbo="false">
  <input class="form-control mb-2 mr-sm-2"  type="text" name="question">
  <input class="btn btn-primary mb-2" type="submit" value="Ask!">
</form>
